<nav class="quick-tool">
  <ul>
    <li class="home">
      <a href="/src/FE/index.html"
        ><img src="/src/FE/img/home.png" alt="home"
      /></a>
    </li>
    <li class="menu">
      <a href="/src/FE/Category/Category.html">
        <img src="/src/FE/img/menu.png" alt="menu" />
      </a>
    </li>
    <li class="search">
      <a href="/src/FE/search/search.html">
        <img src="/src/FE/img/search.png" alt="search" />
      </a>
    </li>
    <li class="my">
      <a href="/src/FE/MyPage/MyPage.html">
        <img src="/src/FE/img/my.png" alt="my" />
      </a>
    </li>
  </ul>
</nav>

<div class="footer">
  <h2 class="F-Logo">LOGO</h2>
  <div class="CS-Box">
    <h3>고객센터</h3>
    <p class="CS">1644-1111</p>
    <p>월~토요일 | 오전 7시 ~ 오후 6시</p>
  </div>

  <p>주식회사 LOGO | 대표자 : @@@</p>
  <p>사업자등록번호 : 111-11-11111</p>
  <p>주소 : 서울특별시</p>
</div>
