<div class="ButtonModal hidden" id="CartModal">
    <div class="ButtonModal-content">
        <div class="modal-product-info">
            <img src="" id="ModalProductImage" alt="제품 이미지">
            <div class="modal-product-details">
                <p id="ModalProductName">제품 이름</p>
                <hr>
                <div class="modal-product-pricing">
                    <p id="ModalproductSale">할인율</p>
                    <p id="ModalProductDiscountedPrice">할인 가격</p>
                    <p id="ModalProductPrice">제품 가격</p>
                </div>
            </div>
        </div>
        <div class="quantity-control">
            <button id="decreaseQtyBtn" aria-label="수량 내리기" disabled>-</button>
            <div id="productQuantity">1</div>
            <button id="increaseQtyBtn" aria-label="수량 올리기">+</button>
        </div>
        <button class="ButtonModel-btnClose" id="ButtonModel-btnClose"> 장바구니에 담기 </button>
    </div>
</div>